/* Imagens laterais */
.side-img {
    position: fixed;
    bottom: 20px;
    width: 140px;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.6s ease;
    z-index: 5;
}

.side-img.left {
    left: 10px;
}

.side-img.right {
    right: 10px;
}

.side-img.show {
    opacity: 1;
    transform: scale(1);
}

/* Ajuste pra celular */
@media (max-width: 600px) {
    .side-img {
        width: 90px;
        bottom: 10px;
    }
}